.create-form {
    padding-top: 15px;
    height: stretch;
    overflow: auto;
}

.file-zone {
    background: transparent;
    border: 4px solid #c8c6c6;
    border-radius: 5px;
    border-style: dashed;    
}

.file-zone__text {
    color: #c8c6c6; 
    font-size: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;    
    text-align: center;
}

.validation-error {
    border-color: red;
}

.alert-wrapper {
    margin-left: 10px;
    margin-bottom: -23px;
}
