.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;

    -webkit-box-shadow: 0 1px 3px 0px #777;
    -moz-box-shadow: 0 1px 3px 0px #777;
    box-shadow: 0 1px 3px 0px #777;
    background: #FFF;
    /* position: relative; */

    position: fixed;
    width: 100%;
    z-index: 12;    
}

.header-container.bnt {
    margin: 0 !important;
}

.header-container__logo {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 24px;
    color: #fff;

    text-transform: uppercase;
    color: #87949c;
    font-weight: 400;    

    cursor: pointer;
}

.header-container__button-wrapper {
    margin-top: -20px;
    margin-bottom: 7px;
}