.card-wrapper {
    width: 95%;
    margin: 15px auto;
}

.card {
    flex-direction: row !important;
}

.card-img {
    width: 150px !important;
    height: 150px;
    margin: auto 15px;
    border-radius: 50% !important;
}

.card-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 600px;
    overflow: hidden;
}

.title-wrapper {
    justify-content: space-between;
}

.card__info-block {
    padding: 10px 0;
    justify-content: space-between;
    flex-wrap: wrap;
}

.badge {
    margin: 0 5px;
    opacity: 0.5;
    cursor: pointer;
}

.badge:hover {
    opacity: 1;
}

.card__info-item {
    flex: 1;
    font-size: 12px; 
    line-height: 1;
    color: #928b9a; 
    padding: 5px 5px;   
}

.card__img {
    color: wheat;
}

.card__info-icon {
    margin-right: 8px; 
    width: 24px;
    height: 24px;    
}

.card__button-block {
    justify-content: flex-end;
}

.btn {
    margin: 20px 5px 0px !important;
}

.no-wrap-text {
    white-space: nowrap;    
}
